/node_modules
/public/hot
/storage/debugbar/*.json
/storage/framework/cache/data/*.json
/storage/framework/sessions/*
/storage/framework/views/*.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
