/node_modules
/public/hot
/public/storage/debugbar/*.json
/public/storage/framework/cache/data/*.json
/public/storage/framework/sessions/*.json
/public/storage/framework/views/*.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
